/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: #252525;
  --red-pastel: #c33f41;
  --black-color-light: hsl(225, 4%, 18%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);
  --red-color: #eb2125;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 0.938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@font-face {
  font-family: Monserrat;
  src: url(font/MontserratAlternates-ExtraBold.otf);
}

@font-face {
  font-family: LemonMilk;
  src: url(font/LEMONMILK-Regular.ttf.otf);
}

/*========== Responsive typography ==========*/
@media only screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 100%;
}
.nav__menu {
  margin-right: 3rem;
}
.nav__data {
  margin-left: 3rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/

nav.scrolling-active {
  background-color: #252525;
  padding: 20px 0 20px 0;
}

.nav {
  height: var(--header-height);
}
nav img {
  width: 75px;
}

.nav__logo,
.nav__burger,
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  margin-right: 2rem;
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.8rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

/* Beranda */

.landing_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.7);
}
.main-content {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.main-content-index {
  padding-top: 8rem;
  min-height: 100vh;
}

.main-quotes i:nth-last-child(1) {
  align-self: flex-end;
}

.landing-k {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.main-quotes {
  width: 50%;
  display: flex;
}
/* .quotes {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.quotes p {
  font-weight: 500;
  font-style: italic;
  text-align: center;
  letter-spacing: 2px;
  margin: 0 5px;
}
.grid-content2 {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 3rem;
}
.grid-content1 {
  display: flex;
  justify-content: center;
  width: 100%;

  margin-bottom: 7rem;
}
.hero-siapamengapa {
  width: 85%;
}
.mengapa-text a {
  color: #eb2125;
  font-weight: bold;
}
.mengapa-text a:hover {
  color: #5c0707;
}
.mengapa-text p {
  margin-bottom: 10px;
  line-height: 25px;
  text-align: right;
}
.mengapa-gambar img {
  width: 550px;
  height: 100%;
  box-shadow: 8px 8px 4px #2525258d;
}

.header-mengapa span {
  color: #eb2125;
}
.header-mengapa h1 {
  text-align: end;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 2rem;
  font-size: 3rem;
}
.mengapa-main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header-mengapa mengapa-gambar"
    "mengapa-text mengapa-gambar";
  column-gap: 3rem;
  margin-bottom: 3rem;
}
.header-mengapa {
  grid-area: header-mengapa;
}
.mengapa-text {
  width: 100%;
  display: flex;
  justify-content: right;
  flex-direction: column;
  grid-area: mengapa-text;
  text-align: right;
}
.mengapa-gambar {
  grid-area: mengapa-gambar;
}

.main-tampil {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.bungkus-tampil {
  display: flex;
  justify-content: space-evenly;
}
.bungkus-tampil figcaption:nth-child(2) {
  margin-top: 3.5rem;
}

.gambar-tampil p:nth-child(2) {
  font-weight: bolder;
  font-size: 1.2rem;
  font-style: italic;
}
.gambar-tampil a:nth-child(3) {
  font-weight: bolder;
  font-size: 1.2rem;
  color: #eb2125;
}
.gambar-tampil a:nth-child(3):hover {
  color: #792427;
  cursor: pointer;
}

.header-tampil {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: right;
  margin-bottom: 3rem;
}
.header-tampil h1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  margin-right: 10%;
  width: 40%;
}

.lihat-pementasan a {
  border-bottom: 2px solid;
  margin-left: 25%;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  color: #252525;
}
.lihat-pementasan a:hover {
  color: #c14848;
}

.header-tampil span {
  color: #eb2125;
}

.header-siapa span {
  color: #eb2125;
}
.header-siapa h1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 10px;
}
.siapa-text p {
  margin-bottom: 10px;
  line-height: 25px;
}

.siapa-main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "siapa-gambar header-siapa"
    "siapa-gambar siapa-text";
  column-gap: 3rem;
  place-content: center;
  margin-bottom: 3rem;
}
.siapa-text {
  grid-area: siapa-text;
}
.header-siapa {
  grid-area: header-siapa;
}
.siapa-gambar {
  grid-area: siapa-gambar;
  display: flex;
  justify-content: right;
}
.siapa-gambar img {
  width: 550px;
  height: 90%;
  box-shadow: 8px 8px 4px #2525258d;
}

.main.tampil {
  display: flex;
}

.gambar-tampil img {
  box-shadow: 8px 8px 4px #2525258d;
  width: 470px;
  margin-bottom: 1rem;
}

.main-quotes i {
  font-size: 1.5rem;
}
.main-quotes i:nth-child(1) {
  transform: scaleX(-1);
}
.Landing {
  position: relative;
  width: 100%;
  height: 100vh;
}
.Landing a {
  text-align: center;
}
.info-wrapper {
  position: absolute;
  width: 100%;
  top: 85%;
  margin: auto;
}

.info {
  animation: move 2s infinite ease-in-out;
  display: flex;
  flex-direction: column;
}
.info i {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.847);
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(27px);
  }
  100% {
    transform: translateY(0);
  }
}

.info p {
  margin-left: 0;
  font-size: 0.9rem;

  color: rgba(255, 255, 255, 0.847);
}
.info a {
  text-decoration: none;
}
.box-content {
  /* display: flex; */
  top: 35%;
  position: relative;
  width: 100%;
}
.box-content h1 {
  color: #eb2125;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 8px;
  margin-left: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.box-content h1 span {
  color: #fcfcfc;
}

.box-content h1 span {
  display: block;
}

.box-content p {
  /* margin-top: 1rem; */
  color: rgba(255, 255, 255, 0.847);
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-left: 3rem;
  letter-spacing: 4px;
  font-weight: 500;
}

.header-pementasan {
  margin-bottom: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
}
.header-pementasan h1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eb2125;
}

.header-pementasan::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 4px;
  top: calc(100% + 0.8rem);
  border-radius: 3px;
  background-color: #252525d7;
  left: calc(45%);
}
.main-grid3 {
  display: flex;
  justify-content: center;
}

.grid-content3 {
  display: grid;
  place-items: center;
  width: 90%;
  row-gap: 2rem;
  column-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.main-pementasan {
  margin-top: 8rem;
}
.card-pementasan {
  display: flex;
  flex-direction: column;
  background-color: #252525;
  align-items: center;
  padding: 2rem;
  border-radius: 20px;
  min-height: 350px;
}

.hero-pementasan {
  align-items: baseline;
  display: grid;
  place-items: center;
  width: 100%;
}
.card-pementasan h3 {
  margin: 1rem 0;
  font-family: "Poppins", sans-serif;
  color: #eb2125;
  font-weight: bolder;
  /* margin: 1rem 0; */
}
.card-pementasan p {
  text-align: center;
  width: 100%;
  color: #fcfcfc;
}
.card-pementasan i {
  font-size: 4rem;
  color: #fcfcfc;
}

/* Beranda end */
/* Footer */

footer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #252525;
  color: #fff;
}
.main-footer {
  margin-top: 2rem;
}

.footer-U1 img {
  width: 80px;
}
.main-u2 {
  display: flex;
}
.footer-U1 h1 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1rem;
  margin-top: 15px;
}
.footer-U1 p {
  font-size: 0.8rem;
  margin-top: 5px;
  font-family: "Urbanist", sans-serif;
  color: #fcfcfc;
}

.footer-U {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 4rem;
}
.footer-U1 {
  margin-right: 7rem;
}

.footer-U2 {
  display: block;
}

.footer-U2 h2 {
  font-size: 1.1rem;
  color: #ffffff;
}

.wadah-U2 {
  flex-direction: column;
  margin-left: 8rem;
}

.footer-S .social-media a i {
  margin-top: 12px;
  font-size: 1.5rem;
  gap: 14px;
}
.social-media {
  margin-bottom: 1rem;
}
.smkn1 {
  color: #999999;
  margin-bottom: 5px;
}
.smkn1:hover {
  color: #ffffff;
}

.jam-buka {
  color: #999999;
}
.jam-buka:hover {
  color: #ffffff;
}

.footer-S a {
  text-decoration: none;
  color: #999999;
  margin-top: 12px;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
}
.footer-S a:hover {
  cursor: pointer;
  color: #fff;
}
.footer-S {
  justify-content: left;
  display: flex;
  flex-direction: column;
}

.garis {
  content: "";
  width: 100%;
  height: 0.2px;
  background-color: #fff;
  margin-bottom: 3rem;
}

.copyrigth {
  display: flex;
  justify-content: center;
  text-align: left;
  font-size: 12px;
  padding-top: 15px;
  background-color: black;
  padding-bottom: 15px;
}

.copyrigth p {
  color: white;
  margin-right: 10px;
}

.copyrigth a {
  color: white;
}
/* Footer end */

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link,
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 1.5rem;
  color: var(--white-color);
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color 0.3s;
}

.dropdown__link i,
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
  background-color: var(--red-pastel);
}

.dropdown__menu,
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/* ======== GALERI ========= */
.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 20px 0 20px;
}

.container1 .box {
  display: flex;
  flex-direction: row;
  margin: 1px;
  padding: 1px;
  /* align-items: center; */
}

.container1 .box .dream {
  padding: 1px;
}

.image img {
  display: flex;
  flex-direction: column;
  padding: 1.5px;
  width: 100%;
  margin: 1px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: 0.3s;
}

.image video {
  display: flex;
  flex-direction: column;
  padding: 1.5px;
  width: 32.5%;
  width: 100%;
  margin: 1px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: 0.3s;
}

#seemore {
  display: none;
  justify-content: center;
  align-items: center;
}

#moreImage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  grid-auto-flow: dense;
  margin-left: 10px;
  margin-right: 10px;
}

.wadah-foto {
  min-height: 250px;
}

.wadah-foto .image img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.dream {
  max-width: 100%;
  width: 500px;
}

.dream .image img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.dream .image video:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.image p {
  opacity: 0;
  z-index: 1;
  position: absolute;
  padding: 8px 0 0 8px;
  margin-left: 5px;
  color: azure;
  font-weight: bolder;
  transition: 0.3s;
}

.image:hover p {
  opacity: 100;
}

.heading {
  margin: 120px 0 0 32px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 140px 0 40px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.4px;
  font-family: "Poppins", sans-serif;
}

#image1 {
  height: 543px;
  overflow: hidden;
  object-fit: cover;
}

#image2 {
  height: 274px;
  overflow: hidden;
  object-fit: cover;
}

#image3 {
  height: 388px;
  overflow: hidden;
  object-fit: cover;
}

#image4 {
  height: 198px;
  overflow: hidden;
  object-fit: cover;
}

#image5 {
  height: 361px;
  overflow: hidden;
  object-fit: cover;
}

#image6 {
  height: 606px;
  overflow: hidden;
  object-fit: cover;
}

#image7 {
  height: 285px;
  overflow: hidden;
  object-fit: cover;
}

#image8 {
  height: 151px;
  overflow: hidden;
  object-fit: cover;
}

#image9 {
  height: 446px;
  overflow: hidden;
  object-fit: cover;
}

#image10 {
  height: 255px;
  overflow: hidden;
  object-fit: cover;
}

#image11 {
  height: 168px;
  overflow: hidden;
  object-fit: cover;
}

#image12 {
  height: 534px;
  overflow: hidden;
  object-fit: cover;
}

#textButton {
  background-color: #252525;
  color: #fcfcfc;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* ======== GALERi end ========= */

/* ======== CONTACT ========= */

.contact_main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 180vh;
}

.contact_container {
  /* margin-top: 9rem;
  margin-left: 9rem;
  margin-right: 9rem; */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  width: 80%;
}

.contact_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 200px; */
  width: 30%;
}

.contact_text h1 {
  font-size: 50px;
}

.contact_text p {
  font-size: 20px;
  margin-top: 10px;
}

.sosmed {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.sosmed_button {
  display: flex;
  transition: 0.3s;
  padding-top: 10px;
  margin-top: 10px;
}

.sosmed_button {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  background-color: #25d366;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  width: 300px;
  gap: 15px;
}

.sosmed_icon i {
background-color: #25d366;
  font-size: 25px;
}

.sosmed_button p {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.sosmed_button:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}

.form_outer h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  font-weight: 700;
}
.form_outer i {
  font-size: 30px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  padding: 20px;
}

.label_row {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.label_icon {
  display: flex;
}

.label_text {
  display: flex;
  align-items: center;
  padding-left: 2px;
}

.disclaimer_row {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  color: #eb2125;
}

.disclaimer_icon {
  display: flex;
}

.disclaimer_text {
  display: flex;
  align-items: center;
  padding-left: 2px;
}

.form {
  background-color: #fff;
}

.form,
button,
input,
textarea {
  font-weight: 500;
  border-style: none;
}

.form_nama,
.form_kelas,
.form_nomor,
.form_alasan,
button {
  display: block;
  margin: 20px;
}

input,
textarea {
  background-color: gainsboro;
  width: 50%;
  resize: none;
  width: 600px;
  padding: 20px;
  border-radius: 15px;
}

.button-contact, .my-btn {
  color: #fff;
  background-color: #eb2125;

  border-radius: 5px;
  padding: 10px;
  width: 93.73%;
  text-align: center;
  transition: transform 0.3s;
}

button .button-contact:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}

/* ====== CONTACT end ======= */

/* ======== TENTANG KITA ========= */
.hero_tentangkita {
  overflow-x: hidden;
}

.hero_sambutan {
  /* padding-top: 150px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fdff;
  min-height: 115vh;
}

.sambutan_content {
  display: flex;
  gap: 60px;
}

.foto_pembina img {
  display: flex;
  object-fit: cover;
  width: 420px;
  height: 400px;
  border-radius: 50%;
  border-style: solid;
}

.kata_sambutan {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 550px;
}

.isi_sambutan h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.isi_sambutan p {
  line-height: 26px;
}

.nama_pembina {
  display: flex;
  flex-direction: column;
}

.np_1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.np_1 i {
  font-size: 2rem;
}

.np_2 h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.np_2 p {
  font-style: italic;
}

.hero_sejarah {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #25D366; */
  min-height: 260vh;
}

.welcome_text {
  display: flex;
  flex-direction: column;
}

.sejarah_welcome {
  padding-left: 65px;
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.sejarah_welcome h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.timeline_hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--body-color);
  min-height: 100vh;
  /* background-color: #25D366; */
  padding: 100px 15px;
}

.timeline_items {
  max-width: 1375px;
  background-color: var(--body-color);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* background-color: #25D366; */
  position: relative;
}

.timeline_items::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #252525d7;
  left: calc(50%);
}

.timeline_item {
  margin-bottom: 75px;
  width: 100%;
  position: relative;
}

.timeline_items:nth-child(odd) .timeline_item {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline_items:nth-child(even) .timeline_item {
  padding-left: calc(50% + 30px);
}

.timeline_dot {
  width: 22px;
  height: 22px;
  background-color: #eb2125;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 9.5px);
}

.timeline_content {
  background-image: linear-gradient(90deg, #5c0707 0%, #252525 40%, #520606 80%, #252525 100%);
  animation: gradient 5s infinite;
  background-size: 400% 400%;
  padding: 30px;
  border-radius: 8px;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(-3px);
  }

  50% {
    transform: translateY(3px);
  }
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 50% 0%;
  }
}

.timeline_content h1 {
  color: #eb2125;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.timeline_content p {
  color: #ffffff;
  line-height: 25px;
}

.timeline_date {
  color: #252525;
  margin-bottom: 10px;
}

.timeline_date h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppins";
}

.timeline_date i {
  font-size: 2rem;
}

.segitiga {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-right: 30px solid #252525;
  border-bottom: 16px solid transparent;
  rotate: -90deg;
  margin-top: 50px;
  left: calc(50% - 13px);
}

.hero_filosofi-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 120vh;
  background-color: #f9fdff;
}

.title_filosofi-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.title_filosofi-logo h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content_filosofi-logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo_sangsaka img {
  width: 500px;
  animation: move_sangsaka 4s infinite;
  filter: drop-shadow(-15px 6px 2px #bbb);
}

@keyframes move_sangsaka {
  0% {
    transform: translateY(12px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(12px);
  }
}

.container_makna-logo {
  width: 45%;
}

.m-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  /* background-color: #252525; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  padding: 25px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.m-wrapper:hover {
  color: #fcfcfc;
  background-image: linear-gradient(90deg, #5c0707 0%, #252525 40%, #520606 80%, #252525 100%);
  animation: gradient 3s infinite;
  background-size: 300% 300%;
  transition: all 1s ease-in-out;
}

.m-title {
  display: flex;
  align-items: start;
  gap: 15px;
}

.m-title i {
  font-size: 2rem;
}

.m-content {
  font-family: "Montserrat";
}

.m-content h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.hero_petinggisangsaka {
  min-height: 140vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_petinggisangsaka {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.title_petinggisangsaka h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.frame_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.frame_foto {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
}

.card-content {
  width: 14%;
  position: relative;
}

.card-content img {
  width: 100%;
  object-fit: cover;
  display: block;
  margin: 0;
}

.petinggi-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins";
  opacity: 0;
  transition: 0.6s;
}

.petinggi-text h3 {
  color: #eb2125;
}

.petinggi-text p {
  font-style: italic;
  letter-spacing: 2px;
}

.petinggi-text:hover {
  opacity: 1;
}

.petinggi-text > *{
  transform: translateY(25px);
  transition: transform 0.8s;
}

.petinggi-text:hover > * {
  transform: translateY(0px);
}

/* =============EVENTS SANGSAKA==============  */
.main-events {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
}

.banner-events img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 3rem;
}

.h1 {
  font-size: 3rem;
  text-align: center;
  align-items: center;
  margin-bottom: 3rem;
}

.main-vertical .button-see-more {
  display: flex;
  justify-content: flex-end;
}

.main-vertical .button-see-more a {
  text-decoration: none;
  color: #000;
  margin-right: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  filter: opacity(.5);
  transition: .5s;
}

.main-vertical .button-see-more a:hover {
  color: #eb2125;
  filter: opacity(1);
}

.vertical-events {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.vertical-events .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 9px);
  gap: 15px;
  list-style: none;
  /* margin: 0 5rem; */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel :where(.card, .img) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel .card {
  cursor: pointer;
  scroll-snap-align: start;
  display: flex;
  margin: 10px 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
}

.carousel .img {
  width: 85%;
}

.carousel .img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3 / 4;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.23);
}

.card .img {
  transition: 0.5s ease-out;
}

.card {
  position: relative;
}

.card .name-events {
  position: absolute;
  width: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card .name-events h1 {
  line-height: 1.5rem;
  margin-bottom: 3px;
  font-size: 1.8rem;
  color: #eb2125;
  font-weight: bolder;
  opacity: 0;
  transition: 0.3s ease-in-out;
  filter: drop-shadow(0 0 3px #252525);
  text-transform: uppercase;
  letter-spacing: 0;
}

.card .name-events h4 {
  font-size: 0.8rem;
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
  opacity: 0;
  transform: scale(0);
  filter: drop-shadow(0 0 1px #252525);
  transition: 0.5s ease-out;
  letter-spacing: 0;
}

.card:hover .img {
  filter: blur(5px);
}

.card:hover .name-events h1,
.card:hover .name-events h4 {
  opacity: 1;
}

.card:hover .name-events h4 {
  transform: scale(1);
}

.see-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  margin: 0 1rem 1.5rem;
}

.any-card .img {
  display: flex;
  justify-content: center;
}

.any-card .img img {
  width: 75%;
  height: 30%;
  aspect-ratio: 3 / 4;
  border-radius: 5px;
  margin-bottom: .5rem;
}

.name-of-events {
  display: flex;
  text-align: center;
  justify-items: center;
  width: 80%;
}

.name-of-event h1 {
  font-family: 'Poppins', sans-serif;
  line-height: 1rem;
  margin-bottom: 3px;
  font-size: 1.3rem;
  color: #eb2125;
  font-weight: bolder;
  text-transform: uppercase;
}

.name-of-event h4 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5rem;
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 1rem;
  color: #252525;
  font-weight: 500;
  line-height: 15px;
}

.main-see {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events-see-more {
  display: none;
}
/* =============EVENTS SANGSAKA==============  */

/*=============== BREAKPOINTS ===============*/

/* Navigation for mobile devices */
@media screen and (max-width: 1117px) {
  .lihat-pementasan {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  .lihat-pementasan a {
    margin-left: 0;
  }
  .nav {
    height: 6.5rem;
  }
  .header-siapa h1 {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .siapa-gambar {
    grid-area: siapa-gambar;
    display: grid;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .siapa-main {
    column-gap: 0;
    grid-template-areas:
      "header-siapa header-siapa"
      "siapa-gambar siapa-gambar"
      "siapa-text siapa-text";
  }
  .siapa-gambar img {
    width: 100%;
    height: 100%;
    background-size: cover;
    box-shadow: 8px 8px 4px #2525258d;
  }
  .mengapa-gambar img {
    width: 100%;
    height: 100%;
    background-size: cover;
    box-shadow: 8px 8px 4px #2525258d;
  }
  .header-mengapa h1 {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .mengapa-gambar {
    grid-area: mengapa-gambar;
    display: grid;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .mengapa-text {
    text-align: left;
    justify-content: left;
  }
  .mengapa-text p {
    text-align: left;
  }

  .mengapa-main {
    column-gap: 0;
    grid-template-areas:
      "header-mengapa header-mengapa"
      "mengapa-gambar mengapa-gambar"
      "mengapa-text mengapa-text";
  }
  .main-quotes {
    width: 70%;
  }
  .gambar-tampil img {
    box-shadow: 8px 8px 4px #2525258d;
    width: 100%;
    margin-bottom: 1rem;
  }
  .grid-content2 {
    justify-content: center;
    width: 100%;
  }
  .main-tampil {
    width: 80%;
  }

  .nav__menu {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }
  .main-tampil {
    display: flex;
    justify-content: center;
  }
  .grid-content2 {
    display: flex;
    justify-content: center;
  }
  .bungkus-tampil {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
  }
  .header-tampil {
    width: 100%;
    position: static;
    display: flex;
    justify-content: right;
    margin-bottom: 0rem;
    justify-content: center;
  }
  .header-tampil h1 {
    width: 70%;
    text-align: center;
    margin-right: 0;
  }
}

.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 4.4rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/* For small devices */
@media screen and (max-width: 600px) {
  .grid-content3 {
    width: 80%;
  }
  .siapa-main {
    grid-template-areas:
      "header-siapa header-siapa"
      "siapa-gambar siapa-gambar"
      "siapa-text siapa-text";
  }

  .mengapa-main {
    grid-template-areas:
      "header-mengapa header-mengapa"
      "mengapa-gambar mengapa-gambar"
      "mengapa-text mengapa-text";
  }

  .main-tampil {
    display: flex;
    justify-content: center;
  }
  .bungkus-tampil {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
  }
  .bungkus-tampil figcaption:nth-child(2) {
    margin-top: 4rem;
  }

  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }

  /* Footer */

  footer {
    margin-top: 3rem;
    display: flex;
    background-color: #252525;
    color: #fff;
    max-width: 100%;
  }
  .main-footer {
    margin-top: 2rem;
    max-width: 100%;
  }

  nav img {
    width: 60px;
  }
  .main-u2 {
    display: block;
    flex-direction: column;
  }

  .footer-U1 p {
    font-size: 1rem;
    margin-top: 25px;
    font-family: "Urbanist", sans-serif;
    text-align: justify;
    text-transform: uppercase;
    font-weight: bold;
    color: #fcfcfc;
  }

  .footer-U {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4rem;
  }
  .footer-U1 {
    margin-right: 7rem;
  }

  .footer-U2 {
    display: block;
  }

  .footer-U2 h2 {
    font-size: 1.1rem;
  }

  .wadah-U2 {
    flex-direction: column;
    /* margin-left: 8rem; */
  }

  .footer-S .social-media a i {
    margin-top: 12px;
    font-size: 1.5rem;
    gap: 14px;
  }
  .social-media {
    margin-bottom: 1rem;
  }
  .smkn1 {
    margin-bottom: 5px;
  }

  .footer-S a {
    text-decoration: none;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
  }
  .footer-S {
    justify-content: left;
    display: flex;
    flex-direction: column;
  }

  .garis {
    content: "";
    width: 100%;
    height: 0.2px;
    background-color: #fff;
    margin-bottom: 3rem;
  }

  .copyrigth {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 12px;
    padding-top: 15px;
    background-color: black;
    padding-bottom: 15px;
  }

  .copyrigth p {
    color: white;
    margin-right: 10px;
  }

  .copyrigth a {
    color: white;
  }
  /* Footer end */

}

/* For large devices */
@media only screen and (min-width: 1116px) {
  .container {
    margin-inline: 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item,
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0.5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top 0.3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top 0.3s;
  }

  
}

@media only screen and (max-width: 897px) {
  .wadah-U2 {
    margin-left: 3rem;
  }
  .main-tampil {
    display: flex;
    justify-content: center;
  }
  .grid-content2 {
    display: flex;
    justify-content: center;
  }
  .bungkus-tampil {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
  }
  #moreImage {  
    grid-template-columns: repeat(3, 1fr);
    margin-right: 22px;
    margin-left: 22px;
  }
}

/* RESPONSIVE GALERI */
@media only screen and (max-width: 769px) {
  .nav {
    height: 5.5rem;
  }
  .grid-content3 {
    width: 80%;
  }
  .main-tampil {
    display: flex;
    justify-content: center;
  }
  .bungkus-tampil {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
  }

  .landing_video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.7);
  }
  /* Box-content */

  .box-content .info p {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.847);
  }
  .info a {
    text-decoration: none;
  }

  .box-content h1 {
    font-size: 4rem;
    color: #eb2125;
    font-weight: bolder;
    font-style: italic;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-left: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .box-content h1 span {
    color: #fcfcfc;
  }

  .box-content h1 span {
    display: block;
  }

  .box-content p {
    /* margin-top: 1rem; */
    color: rgba(255, 255, 255, 0.847);
    font-size: 1rem;
    margin-left: 3rem;
    letter-spacing: 5px;
    font-weight: 500;
  }

  /* Box-Content end */

  .container1 .box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .container1 .box .dream {
    width: 100%;
  }
  .dream p {
    font-size: 2px;
  }
  .heading {
    margin: 120px 0 0 32px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 120px 0 40px 0;
    font-size: 30px;
  }
  .image p {
    opacity: 0;
    z-index: 1;
    position: absolute;
    font-size: 25px;
    padding: 10px 0 0 8px;
    margin-left: 5px;
    color: azure;
    font-weight: bolder;
    transition: 0.3s;
  }
  #moreImage {  
    grid-template-columns: repeat(3, 1fr);
    margin-right: 22px;
    margin-left: 22px;
  }

  .nav__toggle {
    margin-right: 0;
  }
  .nav__data {
    margin-left: 0.5rem;
  }
  .nav__menu {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }

  .nav__link {
    color: var(--white-color);
    background-color: var(--black-color);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
  }

  .nav__link:hover {
    background-color: var(--black-color-light);
  }

  /* Show menu */
  .show-menu {
    opacity: 1;
    top: 4.4rem;
    pointer-events: initial;
  }

  /* Show icon */
  .show-icon .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
  }
  .show-icon .nav__close {
    opacity: 1;
    transform: rotate(90deg);
  }

  /*=============== DROPDOWN ===============*/
  .dropdown__item {
    cursor: pointer;
  }

  .dropdown__arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform 0.4s;
  }

  .dropdown__link,
  .dropdown__sublink {
    padding: 1.25rem 1.25rem 1.25rem 1.5rem;
    color: var(--white-color);
    background-color: var(--black-color-light);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: var(--font-semi-bold);
    transition: background-color 0.3s;
  }

  .dropdown__link i,
  .dropdown__sublink i {
    font-size: 1.25rem;
    font-weight: initial;
  }

  .dropdown__link:hover,
  .dropdown__sublink:hover {
    background-color: var(--red-pastel);
  }

  .dropdown__menu,
  .dropdown__submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }

  /* Show dropdown menu & submenu */
  .dropdown__item:hover .dropdown__menu,
  .dropdown__subitem:hover > .dropdown__submenu {
    max-height: 1000px;
    transition: max-height 0.4s ease-in;
  }

  /* Rotate dropdown icon */
  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }

  /*=============== DROPDOWN SUBMENU ===============*/
  .dropdown__add {
    margin-left: auto;
  }

  .dropdown__sublink {
    background-color: var(--black-color-lighten);
  }

  /* footer */
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }

  /* ===== RESPONSIVE TENTANG KITA===== */
  .welcome_text {
    margin-left: 0;
  }
  .hero_sambutan {
   height: 100vh;
  }
  .sambutan_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
  }

  .foto_pembina img {
    justify-content: center;
    align-items: center;
  }

  .kata_sambutan {
    width: 95%;
  }

  .isi_sambutan {
    margin-bottom: 50px;
  }

  .hero_sejarah {
    min-height: 100vh;
  }

  .welcome_text {
    margin-left: 0;
  }

  .timeline_items {
    max-width: 1000px;
    background-color: var(--body-color);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .timeline_item {
    width: 650px;
  }

  .timeline_items:nth-child(odd) .timeline_item {
    padding-right: 0;
    text-align: left;
  }

  .timeline_items:nth-child(even) .timeline_item,
  .timeline_items:nth-child(odd) .timeline_item {
    padding-left: 100px;
  }

  .timeline_items::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #252525f4;
    left: calc(6.4%);
  }

  .timeline_dot {
    width: 25px;
    height: 25px;
    left: calc(4.9%);
  }

  .segitiga {
    left: calc(4% + 2px);
  }

  .hero_filosofi-logo {
    min-height: 250vh;
  }

  .container_makna-logo {
    width: 100%;
  }

  .m-wrapper {
    width: 10%;
    align-items: baseline;
  }

  /* Footer */

  footer {
    margin-top: 3rem;
    display: flex;
    background-color: #252525;
    color: #fff;
    max-width: 100%;
  }
  .main-footer {
    margin-top: 2rem;
    max-width: 100%;
  }

  .footer-U1 img {
    width: 70px;
  }
  .main-u2 {
    display: flex;
  }

  .footer-U1 p {
    font-size: 1rem;
    margin-top: 25px;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fcfcfc;
  }

  .footer-U {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4rem;
  }
  .footer-U1 {
    margin-right: 7rem;
  }

  .footer-U2 {
    display: block;
  }

  .footer-U2 h2 {
    font-size: 0.9rem;
  }

  .wadah-U2 {
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 0rem;
    margin-right: 3rem;
  }

  .footer-S .social-media a i {
    margin-top: 12px;
    font-size: 1.5rem;
    gap: 14px;
  }
  .social-media {
    margin-bottom: 1rem;
  }
  .smkn1 {
    margin-bottom: 5px;
  }

  .footer-S a {
    text-decoration: none;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
  }
  .footer-S {
    justify-content: left;
    display: flex;
    flex-direction: column;
  }

  .garis {
    content: "";
    width: 100%;
    height: 0.2px;
    margin-bottom: 3rem;
  }

  .copyrigth {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 12px;
    padding-top: 15px;
    background-color: black;
    padding-bottom: 15px;
  }

  .copyrigth p {
    margin-right: 10px;
  }

  .copyrigth a {
    color: white;
  }
  /* Footer end */
}

@media only screen and (max-width: 900px) {
  /* Beranda */
  .main-tampil {
    display: flex;
    justify-content: center;
  }
  .bungkus-tampil {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
  }

  /* Beranda End */

  /* TENTANG KITA */
  .hero_sambutan {
    min-height: 175vh;
  }

  .sambutan_content {
    flex-direction: column;
  }

  .foto_pembina {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .kata_sambutan {
    width: 725px;
  }

  .isi_sambutan h2 {
    line-height: 55px;
  }

  .hero_sejarah {
    min-height: 370vh;
  }

  .timeline_items {
    max-width: 750px;
  }

  .hero_filosofi-logo {
    min-height: 160vh;
  }

  .container_makna-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .logo_sangsaka {
    margin-bottom: 70px;
  }

  .m-wrapper {
    display: flex;
    width: 240px;
    margin: 10px 10px;
  }

  .m-title {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .content_filosofi-logo {
    flex-direction: column;
  }

  .hero_petinggisangsaka {
    min-height: 150vh;
  }

  .logo_sangsaka img {
    width: 400px;
  }

  .card-content {
    width: 19%;
  }

  .card-content img {
    width: 100%;
  }
  .m-wrapper {
    align-items: baseline;
  }
  /* TENTANG KITA END */

  /* Responsive contact */

  .contact_container {
    display: flex;
    flex-direction: column;
  }

  .contact_text {
    padding-bottom: 50px;
  }

input,
textarea {

  width: 500px;
  padding: 20px;
  border-radius: 15px;
}

.contact_form {
  
}

.button-contact {
  color: #fff;
  background-color: #eb2125;
  border-radius: 5px;
  padding: 10px;
  padding-left: 290px;
  padding-right: 290px;
  transition: transform 0.3s;
}

  /* Responsive contact end */

  #moreImage {
    grid-template-columns: repeat(3, 1fr);
  }
  .box .dream {
    max-width: 100%;
  }

  /*=============== RESPONSIVE CAROUSEL EVENTS START ===============*/
  .banner-events img {
    height: 350px;
  }

  .h1 {
    font-size: 2.2rem;
  }

  .vertical-events .carousel {
    grid-auto-columns: calc((100% / 3) - 10px);
  }

  .card img {
    width: 100%;
  }

  .card .name-events h1 {
    font-size: 1.35rem;
  }

  .card .name-events h4 {
    font-size: 0.6rem;
    line-height: 12px;
  }

  .main-photos {
    gap: 15px 10px;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }

  .name-of-event h1 {
    font-size: 1.1rem;
    margin: -5px;
  }

  .name-of-event h4 {
    font-size: .9rem;
  }
  /*=============== RESPONSIVE CAROUSEL EVENTS END ===============*/
}

@media only screen and (max-width: 600px) {
  .lihat-pementasan a {
    font-size: 1rem;
  }
  .grid-content1 {
    margin-bottom: 5rem;
  }
  .box-content h1 {
    font-size: 3rem;
    color: #eb2125;
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-left: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .box-content p {
    margin-left: 1.2rem;
  }

  #moreImage {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 22px;
    margin-right: 22px;
  }
  .box {
    flex-direction: column;
    max-width: 100%;
  }
  .box .dream {
    max-width: 100%;
  }
  .dream .image p {
    font-size: 20px;
  }
  .heading h2 {
    font-size: 30px;
  }

  .h1 {
    font-size: 1.8rem;
  }

  /*=============== RESPONSIVE CAROUSEL EVENTS START ===============*/
  .main-events {
    margin-top: 2rem;
  }

  .main-events .h1 {
    margin-bottom: 1rem;
  }

  .button-see-more {
    font-size: .8rem;
  }

  .banner-events img {
    height: 400px;
  }

  .vertical-events .carousel {
    grid-auto-columns: calc((100% / 2) - 8px);
  }

  .card img {
    width: 50%;
  }

  .card .name-events h1 {
    font-size: 1rem;
    line-height: 13px;
  }

  .card .name-events h4 {
    font-size: 0.5rem;
  }

  .main-photos {
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  }

  .name-of-event h1 {
    font-size: 1rem;
  }

  .name-of-event h4 {
    font-size: .7rem;
  }

  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }

  /* Footer */

  footer {
    margin-top: 3rem;
    display: flex;
    background-color: #252525;
    color: #fff;
    max-width: 100%;
  }
  .main-footer {
    margin-top: 2rem;
    max-width: 100%;
  }

  nav img {
    width: 60px;
  }
  .main-u2 {
    display: block;
    flex-direction: column;
  }

  .footer-U1 p {
    font-size: 1rem;
    margin-top: 25px;
    font-family: "Urbanist", sans-serif;
    text-align: justify;
    text-transform: uppercase;
    font-weight: bold;
    color: #fcfcfc;
  }

  .footer-U {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4rem;
  }
  .footer-U1 {
    margin-right: 0rem;
    margin-left: 1rem;
  }

  .footer-U2 {
    display: block;
  }

  .footer-U2 h2 {
    font-size: 1.1rem;
  }

  .wadah-U2 {
    flex-direction: column;
    margin-left: 2rem;
  }

  .footer-S .social-media a i {
    margin-top: 12px;
    font-size: 1.5rem;
    gap: 14px;
  }
  .social-media {
    margin-bottom: 1rem;
  }
  .smkn1 {
    margin-bottom: 5px;
  }

  .footer-S a {
    text-decoration: none;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
  }
  .footer-S {
    justify-content: left;
    display: flex;
    flex-direction: column;
  }

  .garis {
    content: "";
    width: 100%;
    height: 0.2px;
    background-color: #fff;
    margin-bottom: 3rem;
  }

  .copyrigth {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 12px;
    padding-top: 15px;
    background-color: black;
    padding-bottom: 15px;
  }

  .copyrigth p {
    color: white;
    margin-right: 10px;
  }

  .copyrigth a {
    color: white;
  }
  /* Footer end */

  /* RESPONSIVE TENTANG KITA */
  .sambutan_content {
    justify-self: center;
    align-items: center;
    flex-direction: column;
    /* width: 1000px; */
  }

  .hero_sambutan {
    min-height: 190vh;
  }

  .isi_sambutan {
    width: 100%;
  }

  .kata_sambutan {
    width: 75%;
  }

  .hero_sejarah {
    min-height: 350vh;
    width: 90%;
  }

  .timeline_hero {
    width: 825px;
  }

  .timeline_item {
    width: 65%;
  }

  .timeline_items::before {
    left: calc(5.5%);
  }

  .timeline_dot {
    left: calc(6.3%);
  }

  .segitiga {
    left: calc(6%);
  }

  .hero_filosofi-logo {
    min-height: 220vh;
  }

  .title_filosofi-logo {
    text-align: center;
  }

  .hero_petinggisangsaka {
    min-height: 160vh;
  }

  .card-content {
    width: 24%;
  }

  .title_petinggisangsaka h2 {
    font-size: 2.7rem;
  }

  .petinggi-text {
    text-align: center;
  }
  
}
/*=============== RESPONSIVE CAROUSEL EVENTS END ===============*/

/* RESPONSIVE GALERI KHUSUS */
@media only screen and (max-width: 1000px) {
  .box,
  #imageM {
    flex-direction: row;
    max-width: 100%;
  }
  .box .dream {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1395px) {
  .box,
  #imageM {
    flex-direction: row;
    max-width: 100%;
  }
  .box .dream {
    max-width: 100%;
  }
  #moreImage {  
    margin-right: 22px;
    margin-left: 22px;
  }
}

/* RESPONSIVE GALERI KHUSUS END */

@media only screen and (max-width: 425px) {
  /* RESPONSIVE TENTANG KITA */
  .hero_sambutan {
    min-height: 150vh;
  }

  .sambutan_content {
    padding-top: 175px;
  }

  .foto_pembina img {
    width: 320px;
    height: 320px;
  }

  .kata_sambutan {
    width: 85%;
  }

  .hero_sejarah {
    min-height: 330vh;
  }

  .welcome_text {
    width: 100%;
  }

  .timeline_items::before {
    left: calc(2%);
  }

  .timeline_items {
    width: 100%;
  }

  .timeline_items:nth-child(even) .timeline_item,
  .timeline_items:nth-child(odd) .timeline_item {
    padding-left: 50px;
  }

  .timeline_item {
    width: 325px;
  }

  .timeline_dot {
    left: calc(1.2%);
  }

  .segitiga {
    left: calc(1%);
  }

  .hero_filosofi-logo {
    min-height: 175vh;
  }

  .title_filosofi-logo h2 {
    font-size: 2.5rem;
  }

  .logo_sangsaka img {
    width: 300px;
  }

  .m-wrapper {
    width: 80%;
  }

  .hero_petinggisangsaka {
    min-height: 145vh;
  }

  .title_petinggisangsaka {
    text-align: center;
    line-height: 50px;
  }

  .card-content {
    width: 32%;
  }

  .petinggi-text h3 {
    font-size: 1.2rem;
  }

  .petinggi-text p {
    font-size: 0.85rem;
  }
}